body {
  background: linear-gradient(
    270deg,
    #83daf2 0%,
    rgba(116, 69, 173, 0.4) 45.67%,
    #f597cf 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  flex-direction: column;
}

.cloudstop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  z-index: 1;
  pointer-events: none;
}

.cloudsbot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  z-index: 1;
  pointer-events: none;
}

.title {
  text-align: center;
  color: #fff;
  font-family: Jomhuria;
  font-size: 90px;
  margin-bottom: 0px;
  font-weight: normal;
  margin-top: 30px;
  z-index: 3;
  -webkit-text-stroke: 2px rgba(116, 69, 173, 0.4);
}

#accountBtn {
  border-radius: 100px;
  border: 3px solid #fff;
  background: linear-gradient(90deg, #83daf2 0%, #f597cf 100%);
  color: #fff;
  font-family: Jomhuria;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 0 7px;
  width: fit-content;
  height: max-content;
}

#accountIcn {
  height: max-content;
  display: inline-block;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.7);
}

#accountIcn svg {
  display: block;
  width: 180px;
  height: auto;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  height: fit-content;
  width: fit-content;
  border-radius: 60px;
}

#filesBtn {
  border-radius: 100px;
  border: 3px solid #fff;
  background: linear-gradient(90deg, #83daf2 0%, #f597cf 100%);
  color: #fff;
  font-family: Jomhuria;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 0 7px;
  width: fit-content;
  height: max-content;
}

#filesIcn {
  height: max-content;
  display: inline-block;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.7);
}

#filesIcn svg {
  display: block;
  width: 180px;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 30px;
  gap: 30px;
  z-index: 2;
}

#logoutBtn {
  bottom: 90px;
  z-index: 5;
  border-radius: 100px;
  border: 3px solid #fff;
  background: linear-gradient(90deg, #83daf2 0%, #f597cf 100%);
  color: #fff;
  font-family: Jomhuria;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  padding: 3px 15px;
}
